<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<%= form_tag("/", method: "post") do %>
  <%= label_tag(:original_url, "Cut: ") %>
  <%= text_field_tag(:original_url) %>
  <%= submit_tag("Cut now!") %>
<% end %>
